*{
  margin: 0;
  font-family: 'Fira Sans', Arial;
  color: #141414;
}
img{
  display: block;
  max-width: 100%;
}
body{
  margin: 40px auto 0 auto;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.navegacao{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header{
  width: 1000px;
  margin: auto;
}
header a{
  color: #141414;
  font-size: 18px;
}
header h2{
  font-size: 32px;
  font-weight: regular;
}
main{
  width: 1000px;
  margin: auto;
}
.menu{
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.perfil{
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 60px auto;
  align-content: space-evenly;
}
.perfil-foto{
  grid-row: 1/3;
}
.perfil-foto img{
  max-width: 100%;
  margin: 0;
}
.perfil h1{
  padding: 10px 0 0 150px;
  align-self: end;
  font-size: 72px;
  background-image: url('/img/detalhe.svg');
  background-repeat: no-repeat;
  background-position: 100px -20px;
}
.perfil p{
  margin-top: 10px;
  font-size: 24px;
  padding: 0px 150px;
  color: rgba(82, 82, 82, 1);
}
.experiencia{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px 150px;
  margin-top: 90px;
}
.experiencia span{
  font-weight: 700;
}
.experiencia p{
  font-size: 24px;
  margin-top: 20px;
  color: rgba(82, 82, 82, 1);
}
.experiencia h3{
  font-size: 110px;
  color: rgba(224, 224, 224, 1);
  word-break: break-all;
  max-width: 4ch;
  grid-row: 1/5;
  line-height: 1;
}
#descricao{
  margin-bottom: 30px;
}
footer{
  background: rgba(20, 20, 20, 1);
  padding-bottom: 100px;
}
.formacao{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 50px 150px;
  width: 1000px;
  margin: 100px auto 0 auto;
  padding-top: 100px;
}
.formacao span{
  font-weight: 700;
}
.formacao p{
  font-size: 18px;
  margin-top: 20px;
  color: rgba(82, 82, 82, 1);
}
.formacao h3{
  font-size: 110px;
  color: #000000;
  word-break: break-all;
  max-width: 6ch;
  line-height: 1;
  grid-row: 1/5;
}
.feitos{
  background-color: rgba(240, 240, 240, 1);
  display: grid;
  grid-template-columns: 1fr 190px;
  border-radius: 4px;
  padding: 30px;
  gap: 0px 20px;
}
.feitos h4{
  font-size: 18px;
  margin-bottom: 10px;
}
#titulo{
  position: relative;
}
.funcao{
  position: relative;
}
#titulo::before{
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  background: linear-gradient(#B6F829,#67DD0A);
  left: -33px;
}
.funcao::before{
  content: '2023';
  display: block;
  position: absolute;
  left: -400px;
  color: #525252;
  font-weight: 500;
  font-size: 16px;
}
.feitos p{
  font-size: 14px;
  margin-top: 0px;
}
.requisitos{
  display: flex;
  flex-wrap: wrap;
  gap: 0px 5px;
}
.requisitos p{
  background-color: #fff;
  align-self: start;
  border-radius: 4px;
  padding: 5px;
  margin: 0px;
}
.formacao span{
  color: #fff;
  font-size: 18px ;
  font-weight: 700;
}
.formacoes{
  grid-column: 2;
  display: flex;
  gap: 30px;
  border-radius: 4px;
}
.f{
  background-color: #000000;
  border-radius: 4px;
  padding: 20px;
}
.f p{
  font-size: 18px;
  margin-top: 0;
}
#pequeno{
  font-size: 14px;
}
.f h4{
  color: #fff;
  margin: 10px 0 30px 0;
}
#titulo2{
  position: relative;
}
#titulo2::before{
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  background: linear-gradient(#B6F829,#67DD0A);
  left: -23px;
}
.cursos{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cursos p{
  font-size: 18px;
  color: #fff;
}
.cursos span{
  font-size: 18px;
  color: #8F8F8F;
  font-weight: 500;
}
#titulo-curso{
  color: #8F8F8F;
  font-size: 14px;
  grid-column: 1/3;
}
.idioma p{
  grid-column: 1/3;
}
#horas{
  justify-self: end;
}
.idioma #titulo-curso::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  background: url('/img/idiomas.svg');
  background-repeat: no-repeat;
  left: -35px;
  top: -5px;
}
.intensivos #titulo-curso::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  background: url('/img/cursos.svg');
  background-repeat: no-repeat;
  left: -35px;
  top: -5px;
}
#titulo-curso{
  position: relative;
}
.fundo{
  background-color: #000000;
}
.rodape{
  width: 1000px;
  margin: 0px auto 0 auto;
  padding: 100px 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}
.rodape p{
  color: #ccc;
  grid-row: 1/3;
  padding-right: 160px;
  font-size: 24px;
}
#texto-rodape{
  position: relative;
}
#texto-rodape::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/img/detalhe.svg');
  background-repeat: no-repeat;
  top: -160px;
}
.rodape h2{
  color: #fff;
  grid-column: 2;
  justify-self: center;
}
#direitos{
  color: #8F8F8F;
  grid-row: 3;
  margin-top: 100px;
  padding-right: 0;
  font-size: 18px;
}